<div class="footer">
  <div class="body">
    <div>
      <h3>Our Store</h3>
      <p>Ecommerce, PO Thana, Kannur, Kerala</p>
      <p>+91 1234567890</p>
      <p>abc@gmail.com</p>
    </div>
    <div>
      <h3>Useful Links</h3>
      <div class="link"><a routerLink="/collections">Shop Now</a></div>
      <div class="link"><a routerLink="/login">My Account</a></div>
      <div class="link"><a routerLink="/cart">My Cart</a></div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; Arshad Danish {{year}}</p>
  </div>
</div>