.login {
  padding: 4rem 0;

  .login-box {
    max-width: 350px;
    margin: auto;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }

    input,
    select {
      font-family: "Nunito", sans-serif;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: 1px solid grey;
      border-radius: 10px;
    }

    textarea {
      font-family: "Nunito", sans-serif;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      width: 100%;
      padding: 10px;
      border: 1px solid grey;
      border-radius: 10px;
    }

    option {
      font-size: 1rem;
    }

    .forgot {
      margin-bottom: 2rem;
      a {
        color: black;
      }
    }

    input[type="submit"] {
      height: 45px;
      font-size: 1.1rem !important;
      font-weight: 600;
    }

    .login-btn {
      color: #fff;
      background-color: #343a40;
      border: none;

      &.r {
        margin-top: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #23272b;
      }
    }
  }
}
