<div class="login">
  <div class="login-box">
    <h2>Login</h2>
    <form autocomplete="off">
      <div>
        <input type="email" name="email" id="" placeholder="Email" />
      </div>
      <div>
        <input type="password" name="password" id="" placeholder="Password" />
      </div>
      <div class="forgot">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
      <div>
        <input type="submit" value="Login" class="login-btn" />
      </div>
      <div class="forgot">
        Don't have an account? <a routerLink="/register">Register now</a>
      </div>
    </form>
  </div>
</div>