.products {
  padding: 2rem 4rem 6rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .filter {
    margin-bottom: 2rem;
    text-align: center;

    select {
      font-family: "Nunito", sans-serif;
      font-size: 1rem;
      margin: 0 1rem 1.5rem 0;
      width: 125px;
      height: 40px;
      padding: 0 10px;
      border: 1px solid grey;
      border-radius: 10px;
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    row-gap: 2.5rem;
  }
}
