<div class="products">
  <h2>{{collection}}</h2>
  <div class="filter">
    <select name="" id="">
      <option value="" selected disabled>Category</option>
      <option value="">Men</option>
      <option value="">Women</option>
      <option value="">Boys</option>
      <option value="">Girls</option>
      <option value="">Kids</option>
    </select>
    <select name="" id="">
      <option value="" selected disabled>Color</option>
      <option value="">Blue</option>
      <option value="">Black</option>
      <option value="">White</option>
      <option value="">Green</option>
      <option value="">Red</option>
    </select>
  </div>
  <div class="items">
    <app-product-item *ngFor="let product of products" [product]="product" [collection]="collection"></app-product-item>
  </div>
</div>