<div class="login">
  <div class="login-box">
    <h2>Register</h2>
    <form autocomplete="off">
      <div>
        <input type="email" name="email" id="" placeholder="Email" />
      </div>
      <div>
        <input type="password" name="password" id="" placeholder="Password" />
      </div>
      <div>
        <input type="submit" value="Register" class="login-btn"/>
      </div>
      <div class="forgot">
        Already have an account? <a routerLink="/login">Login now</a>
      </div>
    </form>
  </div>
</div>