<div class="features">
  <div class="feature">
    <img src="../../../../assets/images/features/1.png" alt="">
    <div>
      <h3>Free Shipping</h3>
      <p>Tell about your service</p>
    </div>
  </div>

  <div class="feature">
    <img src="../../../../assets/images/features/2.png" alt="">
    <div>
      <h3>Money Guarantee</h3>
      <p>Within 30 days for an exchange</p>
    </div>
  </div>

  <div class="feature">
    <img src="../../../../assets/images/features/3.png" alt="">
    <div>
      <h3>Online Support</h3>
      <p>24 hours a day, 7 days a week</p>
    </div>
  </div>

  <div class="feature">
    <img src="../../../../assets/images/features/4.png" alt="">
    <div>
      <h3>Flexible Payment</h3>
      <p>Pay with multiple credit cards</p>
    </div>
  </div>
</div>