.collection-item {
  width: 250px;
  height: 300px;
  position: relative;

  .details {
    bottom: 15px;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    .dtl-btn {
      color: black;
      background-color: #fff;
      padding: 10px 13.5px;
      transition: all 0.3s;
      border-radius: 50%;
    }
  }

  &:hover {
    cursor: pointer;
    img {
      opacity: 0.8;
    }
    .dtl-btn {
      color: #fff !important;
      background: black !important;
    }
  }
}
