.landing {
  background: url("../../../../assets/images/home.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  .true {
    margin-bottom: 4rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 400px;
  }

  .shop-btn {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.625rem 2rem;
    color: black;
    border: 1px solid black;
    transition: all 0.3s;
    border-radius: 20px;

    &:hover {
      color: #fff;
      background: black;
      cursor: pointer;
    }
  }
}
