<div class="account">
  <h2>My Account</h2>
  <div class="account-box">
    <p class="logout">Hello <span>Arshad Danish</span> (not <span>Arshad Danish? </span><a routerLink="/login">Log
        Out</a>)</p>

    <div class="account-details">
      <h3>Account Details</h3>
      <div class="detail">
        <p>Name</p>
        <p>Arshad Danish</p>
      </div>
      <div class="detail">
        <p>Phone</p>
        <p>1234567890</p>
      </div>
      <div class="detail">
        <p>Email</p>
        <p>abc@gmail.com</p>
      </div>
      <div class="detail">
        <p>Account Type</p>
        <p>Retailer</p>
      </div>
      <button (click)="redirect('/account/edit-account-details')" type="button" class="edit-btn">Edit</button>
    </div>

    <div class="address">
      <h3>Address</h3>
      <p>Oceanus, PO Thana, Kannur - 670012, Kerala.</p>
      <button (click)="redirect('/account/edit-address')" type="button" class="edit-btn">Add/ Edit</button>
    </div>

    <div class="order-history">
      <h3>Order History</h3>
      <table cellspacing="0">
        <tr>
          <th>Sl No</th>
          <th>Purchase Date</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price/Product</th>
          <th>Total Price</th>
        </tr>
        <tr>
          <td>1</td>
          <td>23 Nov 2021</td>
          <td>Shirt</td>
          <td>10</td>
          <td>500</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>23 Nov 2021</td>
          <td>Shirt</td>
          <td>10</td>
          <td>500</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>3</td>
          <td>23 Nov 2021</td>
          <td>Shirt</td>
          <td>10</td>
          <td>500</td>
          <td>5000</td>
        </tr>
      </table>
    </div>
  </div>
</div>